<p class="titrepage">AKSANTIMED</p>
<p class="descriptionpage">                 
    1. Statut juridique de la plate-forme AksantiMed<br><br>
    2. Propriétés intellectuelles<br><br>
    3. Responsabilités<br><br>
    4. De la fiabilité des codes<br><br>
    5. Plaintes et règlements de conflits<br><br>
    6. Juridictions compétentes<br><br>
    7. Recours<br><br>
    Statut juridique de la plate-forme AksantiMed<br><br>
    AksantiMed se veut un prestataire de services organisé sous forme de société de personne à responsabilité limitée SARL.
    <br><br>
    AksantiMed est une entreprise dont la procédure d'enregistrement est en cours auprès des autorités Congolaises sous le numéro d’identification.
    <br><br>
    Les actes constitutifs de la société AksantiMed.com seront consultables auprès du greffe du tribunal de commerce de Kinshasa Gombe sous le numéro (non encore attribué).<br><br>
    Propriétés intellectuelles<br><br>
    Comme tout oeuvre de l'esprit, le SAM est couvert par un brevet qui le protège de :
    <br><br>
    l'utilisation abusive de la marque AksantiMed la promotion du label AksantiMed sans autorisation.
    l'usage des sigles, logos, publications, rapports produits par AksantiMed l'usage de la plate-forme Internet et Mobile pour des fins qui n'entre pas dans l'objet social d'AksantiMed et de surcroît sans autorisation.<br><br>
    Responsabilités
    Le champ de responsabilité de l'usage du SAM se résume au travers les conditions d'utilisations générales téléchargeables sur le site http://www.aksantimed.com<br><br>
    
    1.Champ d'application des responsabilités du SAM<br><br>
    
    
    Assurer la disponibilité de la plate-forme via le site Internet, l'application mobile et le SMS<br><br>
    Assurer l'unicité de chaque code généré<br><br>
    Assurer la cohérence et la véracité des réponses reçues lors de l'interrogation de la plate-forme<br><br>
    Assurer la non falsification des étiquettes<br>
    Assurer la protection des données des différents acteurs du SAM<br><br><br>
    Assurer la fiabilité des statistiques et du Reporting<br><br>
    Assurer la mise à disposition de dernières informations provenant de l'industrie pharmaceutique. Les informations de base sont :<br><br>
    le nom commercial et la classification Anatomique et thérapeutique<br><br>
    la date du retrait<br><br>
    les alertes fournies par l'industrie<br><br>
    les alertes fournies par les autorités ayant en charge la santé publique.<br><br>
    
    2. Non applicabilité de la responsabilité du SAM<br><br>
    
    Interruption des services SMS et Internet par des tiers pour des raisons indépendantes du SAM Perturbation du réseau Internet et téléphonique<br><br>
    L'information d'AksantiMed ne se substitue pas à la prescription médicale de votre médecin.<br><br>
    L'information fournie ne se substitue pas aux recommandations officielles des autorités ayant dans leurs attributions la santé publique.<br><br>
    Les renseignements fournies sont à titre informatifs et n'ont aucune valeur scientifique et ne peut servir à un autre usage qu'en dehors de la validation des médicaments.<br><br>
    AksantiMed ne garantit pas l'efficacité des médicaments et ne peut être tenu responsable des conséquences liées au non-respect des prescriptions indiquées, du mode de conservation et d'entreposage non recommandé par la firme pharmaceutique.<br><br>
    AksantiMed ne peut être tenu responsable des effets secondaires résultants de l'association avec d'autres médicaments connus ou provenant de la médecine traditionnelle.<br><br>
    
</p>