<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>AKSANTIMED</h1>
    <span class="menu-spacer"></span>
    <div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  
  
    <img src="img/boy.png" width="50%" height="50%"/>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/code'"> Valider votre code </a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/carte'"> Cartographie </a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/professional'"> Professionels </a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/dci'"> Médicaments </a>
      <a mat-list-item [routerLink]="'/interaction'"> Intéractions médicamenteuses </a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/faq'"> Questions </a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/customers'"> Alertes </a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/aksantimed'"> Aspects légaux </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
