<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>AKSANTIMED</h1>
    <span class="menu-spacer"></span>
    <div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <!--
      <a mat-list-item [routerLink]="'/code'"> Valider votre code </a>
      <a mat-list-item [routerLink]="'/carte'"> Cartographie </a>
      <a mat-list-item [routerLink]="'/professional'"> Professionnels </a>
      <a mat-list-item [routerLink]="'/verification'"> Vérifier </a>
      <a mat-list-item [routerLink]="'/simple'"> Recherche simple </a>
      <a mat-list-item [routerLink]="'/avancee'"> Recherche avancée </a>
      <a mat-list-item [routerLink]="'/interaction'"> Intéractions médicamenteuses </a>
      <a mat-list-item [routerLink]="'/compte'"> Mon compte </a>
      <a mat-list-item [routerLink]="'/service'"> Nos services </a>
      <a mat-list-item [routerLink]="'/verification'"> Vérifier </a>
      <a mat-list-item [routerLink]="'/aksantimed'"> Aksantimed </a>
      <a mat-list-item [routerLink]="'/faq'"> Faq </a>
      <a mat-list-item [routerLink]="'/customers'"> Suggestions </a>
    -->
      <a mat-list-item [routerLink]="'/code'"> VALIDER VOTRE CODE </a>
      <a mat-list-item [routerLink]="'/carte'"> CARTOGRAPHIE </a>
      <a mat-list-item [routerLink]="'/professional'"> PROFESSIONELS </a>
      <a mat-list-item [routerLink]="'/dci'"> MEDICAMENTS </a>
      <a mat-list-item [routerLink]="'/interaction'"> INTERACTIONS MEDICAMENTEUSES </a>
      <a mat-list-item [routerLink]="'/faq'"> QUESTIONS </a>
      <a mat-list-item [routerLink]="'/customers'"> ALERTES </a>
      <a mat-list-item [routerLink]="'/aksantimed'"> ASPECTS LEGAUX </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
