<div *ngIf="customer">
  <div>
    <label>Nom: </label> {{customer.name}}
  </div>
  <div>
    <label>Dci: </label> {{customer.age}}
  </div>
  <div>
    <label>Active: </label> {{customer.active}}
  </div>
 
  <span class="button is-small btn-primary" *ngIf='customer.active' (click)='updateActive(false)'>Nom autorisé</span>
 
  <span class="button is-small btn-primary" *ngIf='!customer.active' (click)='updateActive(true)'>Autorisé</span>
 
  <span class="button is-small btn-danger" (click)='deleteCustomer()'>Effacer</span>
 
  <hr/>
</div>