.descriptionpage {
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    flex-direction: column;
  }
  
  .titrepage {
    display: flex;
    width: 90%;
    margin: 0 auto;
    font-weight: bold;
    flex-direction: column;
  }