
<h4>Votre code</h4>
<p>Entrer les 12 chiffres de l'étiquette AksantiMed de votre médicament.</p>
<div class="example-container">
  <mat-form-field hintLabel="Max 12 characters">
    <input matInput #input maxlength="10" placeholder="Entrer le code votre médicament">
    <mat-hint align="end">{{input.value?.length || 0}}/12</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select me">
      <mat-option value="option">Option</mat-option>
    </mat-select>
    <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
  </mat-form-field>
  
</div>
<button mat-flat-button color="primary">VALIDEZ VOTRE CODE</button>



